.productList {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;

    .empty {
        flex: 1;
    }
}
